<meta charset="UTF-8" />
<md-tabs md-dynamic-height md-border-bottom>
     <md-tab label="Sumário">
         <md-content  layout="row" layout-padding>
         
              <st-input-string flex="50" flex-xs="100"  label="Título" ng-model="$sprintDetalheCtrl.data.item.titulo" ></st-input-string>
              <st-input-date flex="50" flex-xs="100"  label="Início" ng-model="$sprintDetalheCtrl.data.item.inicio" ></st-input-date>
              <st-input-date flex="50" flex-xs="100"  label="Fim" ng-model="$sprintDetalheCtrl.data.item.fim" ></st-input-date>
         </md-content>
      </md-tab>
      <md-tab label="Kanban" >
           <md-content layout="row" layout-padding>
				     <md-card layout="column" flex="33" >
				            <h3><ng-md-icon md-colors="{color: 'primary'}"  icon="format_list_numbered"></ng-md-icon> Tarefas</h3>
				            <md-divider></md-divider>
				            <md-card-content>
				            <st-check-list 
								    attr-label="titulo" 
								    show-border-no-items="true"
								    hide-checkbox="true"
								    hide-delete-all="true"
								    crud-options = "{objectName: 'TarefaSprint', fixProperties: {'sprint.id': $sprintDetalheCtrl.data.item.id, status: 'todo'}}"
								    ></st-check-list>
				            </md-card-content>
				  	 </md-card>
				    <md-card layout="column"  flex="33" >
				            
				            <h3><ng-md-icon md-colors="{color: 'orange'}"  icon="access_time"></ng-md-icon> Fazendo</h3>
				            <md-divider></md-divider>
				            <md-card-content>
				             <st-check-list 
								    attr-label="titulo" 
								    show-border-no-items="true"
								    hide-add = "true"
								    hide-checkbox="true"
								    crud-options = "{objectName: 'TarefaSprint', fixProperties: {'sprint.id': $sprintDetalheCtrl.data.item.id, status: 'do'}}"
								    ></st-check-list>
				            </md-card-content>
				            </md-card-content>
				  	 </md-card>
				     <md-card layout="column" flex="33" >
				            <h3><ng-md-icon md-colors="{color: 'green'}"  icon="playlist_add_check"></ng-md-icon> Feito</h3>
				            <md-divider></md-divider>
				            <md-card-content>
				             <st-check-list 
								    attr-label="titulo" 
								    show-border-no-items="true"
								    hide-checkbox="true"
								    hide-add = "true"
								    crud-options = "{objectName: 'TarefaSprint', fixProperties: {'sprint.id': $sprintDetalheCtrl.data.item.id, status: 'done'}}"
								    ></st-check-list>
				            </md-card-content>
				            </md-card-content>
				  	 </md-card>
			</md-content>
      </md-tab>
</md-tabs>

