<meta charset="UTF-8" />
<md-tabs md-dynamic-height md-border-bottom>
     <md-tab label="Sumário">
         <md-content  layout="row" layout-padding>
         
              <st-input-string flex="50" flex-xs="100"  label="Título" ng-model="$sprintDetalheCtrl.data.item.titulo" ></st-input-string>
              <st-input-date flex="50" flex-xs="100"  label="Início" ng-model="$sprintDetalheCtrl.data.item.inicio" ></st-input-date>
              <st-input-date flex="50" flex-xs="100"  label="Fim" ng-model="$sprintDetalheCtrl.data.item.fim" ></st-input-date>
              <div flex="50" flex-xs="100" >
			      <md-checkbox  ng-change="$sprintDetalheCtrl.data.saveFunction($sprintDetalheCtrl.data.item)" ng-true-value="'true'" ng-false-value="'false'" ng-model="$sprintDetalheCtrl.data.item._string.finalizada">Finalizada</md-checkbox>
			   </div>
         </md-content>
      </md-tab>
      <md-tab label="Kanban" >
           <md-content layout="row" layout-padding>
				     <md-card layout="column" flex="33"  style="border-left: 3px solid #3f51b5">
				            <h4><ng-md-icon md-colors="{color: 'primary'}"  icon="format_list_numbered"></ng-md-icon> TAREFAS  [{{$sprintDetalheCtrl.tarefasTodo.length}}]</h4>
				            <md-divider></md-divider>
				            <md-card-content>
				            <st-check-list 
								    attr-label="titulo" 
								    objetos = "$sprintDetalheCtrl.tarefasTodo"
								    show-border-no-items="true"
								    hide-checkbox="true"
								    hide-delete-all="true"
								    crud-options = "{objectName: 'TarefaSprint', fixProperties: {'sprint.id': $sprintDetalheCtrl.data.item.id, status: 'todo'}}"
								    ></st-check-list>
				            </md-card-content>
				  	 </md-card>
				    <md-card layout="column"  flex="33"  style="border-left: 3px solid orange" >
				            
				            <h4><ng-md-icon md-colors="{color: 'orange'}"  icon="access_time"></ng-md-icon> FAZENDO [{{$sprintDetalheCtrl.tarefasDo.length}}]</h4>
				            <md-divider></md-divider>
				            <md-card-content>
				             <st-check-list 
				                    objetos = "$sprintDetalheCtrl.tarefasDo"
								    attr-label="titulo" 
								    hide-delete-all="true"
								    show-border-no-items="true"
								    hide-add = "true"
								    hide-checkbox="true"
								    crud-options = "{objectName: 'TarefaSprint', fixProperties: {'sprint.id': $sprintDetalheCtrl.data.item.id, status: 'do'}}"
								    ></st-check-list>
				            </md-card-content>
				            </md-card-content>
				  	 </md-card>
				     <md-card layout="column" flex="33"  style="border-left: 3px solid green">
				            <h4><ng-md-icon md-colors="{color: 'green'}"  icon="playlist_add_check"></ng-md-icon> FEITO [{{$sprintDetalheCtrl.tarefasTodo.length}}]</h4>
				            <md-divider></md-divider>
				            <md-card-content>
				             <st-check-list 
				                    objetos = "$sprintDetalheCtrl.tarefasDone"
								    attr-label="titulo" 
								    hide-delete-all="true"
								    show-border-no-items="true"
								    hide-checkbox="true"
								    hide-add = "true"
								    crud-options = "{objectName: 'TarefaSprint', fixProperties: {'sprint.id': $sprintDetalheCtrl.data.item.id, status: 'done'}}"
								    ></st-check-list>
				            </md-card-content>
				            </md-card-content>
				  	 </md-card>
			</md-content>
      </md-tab>
</md-tabs>

