<meta charset="UTF-8" />

<div layout="row">
     <st-input-string label="Área de alavancagem" ng-model="$rodadavidaDetalheCtrl.data.item._string.areaAlavancagem"></st-input-string>
     <st-input-string label="Área de emergência" ng-model="$rodadavidaDetalheCtrl.data.item._string.areaEmergencia"></st-input-string>
     <st-input-string label="Área de inspiração" ng-model="$rodadavidaDetalheCtrl.data.item._string.areaInspiracao"></st-input-string>
</div>
<div layout="row" class="md-block" layout-wrap>
        <st-input-int label="Lazer" ng-model="$rodadavidaDetalheCtrl.data.item.metricas.Lazer"></st-input-int>
		<st-input-int label="Financeira" ng-model="$rodadavidaDetalheCtrl.data.item.metricas.Financeira"></st-input-int>
		<st-input-int label="Profissional" ng-model="$rodadavidaDetalheCtrl.data.item.metricas.Profissional"></st-input-int>
		<st-input-int label="Intelectual" ng-model="$rodadavidaDetalheCtrl.data.item.metricas.Intelectual"></st-input-int>
		<st-input-int label="Emocional" ng-model="$rodadavidaDetalheCtrl.data.item.metricas.Emocional"></st-input-int>
		<st-input-int label="Espiritual" ng-model="$rodadavidaDetalheCtrl.data.item.metricas.Espiritual"></st-input-int>
		<st-input-int label="Física" ng-model="$rodadavidaDetalheCtrl.data.item.metricas['Física']"></st-input-int>
		<st-input-int label="Relacionamento íntimo" ng-model="$rodadavidaDetalheCtrl.data.item.metricas['Relacionamento Íntimo']"></st-input-int>
		<st-input-int label="Relacionamento Social" ng-model="$rodadavidaDetalheCtrl.data.item.metricas['Relacionamento Social']"></st-input-int>
		<st-input-int label="Relacionamento Familiar" ng-model="$rodadavidaDetalheCtrl.data.item.metricas['Relacionamento Familiar']"></st-input-int>
</div>
