<meta charset="UTF-8" />
<div layout="row" class="md-block" layout-wrap>

   <div flex="50" flex-xs="100" >
      <md-checkbox  ng-true-value="1" ng-false-value="0" ng-model="$relatorioDetalheCtrl.data.item.exibirNaPaginaInicial">Exibir na página inicial</md-checkbox>
   </div>
   <st-input-string flex="50" flex-xs="100"  label="Descrição do relatorio" ng-model="$relatorioDetalheCtrl.data.item.descricao" ></st-input-string>
   <st-input-string flex="50" flex-xs="100"  label="Objeto" ng-model="$relatorioDetalheCtrl.data.item.objectName" ></st-input-string>
   <st-input-string flex="50" flex-xs="100"  label="Order By" ng-model="$relatorioDetalheCtrl.data.item.orderBy" ></st-input-string>
   <st-input-string flex="50" flex-xs="100"  label="Filtro de label" ng-model="$relatorioDetalheCtrl.data.item.labelFilter" ></st-input-string>
   <st-input-string flex="100" flex-xs="100"  label="Querys" ng-model="$relatorioDetalheCtrl.data.item.querys" ></st-input-string>
   <st-input-string flex="50" flex-xs="100"  label="Value Column" ng-model="$relatorioDetalheCtrl.data.item.valueColumn" ></st-input-string>
   <st-input-string flex="50" flex-xs="100"  label="Label Column" ng-model="$relatorioDetalheCtrl.data.item.labelColumn" ></st-input-string>
   <st-input-string flex="50" flex-xs="100"  label="Period Column" ng-model="$relatorioDetalheCtrl.data.item.periodColumn" ></st-input-string>
   <st-input-string flex="50" flex-xs="100"  label="Max" ng-model="$relatorioDetalheCtrl.data.item.max" ></st-input-string>

</div>
