<meta charset="UTF-8" />
<div layout="row" class="md-block" layout-wrap>
   <st-input-string flex="50" flex-xs="100"  label="Nome do entidadeteste" ng-model="$entidadetesteDetalheCtrl.data.item._string.nome" ></st-input-string>
   <md-divider></md-divider>
   <st-input-string flex="30" flex-xs="100" label="Atributo 2" ng-model="$entidadetesteDetalheCtrl.data.item._string.atributo2" ></st-input-string>
   <md-divider></md-divider>
   <st-input-string flex="20" flex-xs="100" label="Atributo 3" ng-model="$entidadetesteDetalheCtrl.data.item._string.atributo3" ></st-input-string>
   <md-divider></md-divider>
   <st-input-string flex="20" flex-xs="100" label="Atributo 4" ng-model="$entidadetesteDetalheCtrl.data.item._string.atributo4" ></st-input-string>
   <md-divider></md-divider>
   <st-input-double flex="20" flex-xs="100" label="Preço da hora" ng-model="$entidadetesteDetalheCtrl.data.item._double.precoHora" ></st-input-double>
</div>
